<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jerome.niche">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/niche"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.TenantDashboardActivity">

        </activity>
        <activity
            android:name=".activities.TenantPersonalInformationActivity"
            android:parentActivityName=".activities.TenantDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TenantDashboardActivity" />
        </activity>
        <activity android:name=".activities.TenantRegisterActivity" />
        <activity
            android:name=".activities.TenantRoomsOfferedActivity"
            android:parentActivityName=".activities.TenantDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TenantDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.TenantPaymentHistoryActivity"
            android:parentActivityName=".activities.TenantDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TenantDashboardActivity" />
        </activity>

        <!-- Landlord Parent Activity -->
        <activity android:name=".activities.LandlordDashboardActivity" />

        <!-- Landlord Child Activities -->
        <activity
            android:name=".activities.LandlordPersonalInformationActivity"
            android:parentActivityName=".activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.LandlordManagePropertyManagersActivity"
            android:parentActivityName=".activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.LandlordManagePropertiesActivity"
            android:parentActivityName=".activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordDashboardActivity" />
        </activity>

        <!-- PropertyManager Dashboard Parent Activity -->
        <activity android:name=".activities.PropertyManagerDashboardActivity" />

        <!-- PropertyManager Personal Information Child Activity -->
        <activity
            android:name=".activities.PropertyManagerPersonalInformationActivity"
            android:parentActivityName=".activities.PropertyManagerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PropertyManagerDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.PropertyManagerManageRoomsActivity"
            android:parentActivityName=".activities.PropertyManagerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PropertyManagerDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.PropertyManagerReviewTenantsActivity"
            android:parentActivityName=".activities.PropertyManagerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PropertyManagerDashboardActivity" />
        </activity>
        <activity android:name=".activities.LandlordCreatePropertyActivity"
            android:parentActivityName=".activities.LandlordManagePropertiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordManagePropertiesActivity" />
        </activity>

        <activity android:name=".activities.LandlordManageRoomsActivity"
            android:parentActivityName=".activities.LandlordManagePropertiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordManagePropertiesActivity" />
        </activity>
        <activity android:name=".activities.LandlordEditPropertyActivity"
            android:parentActivityName=".activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordManagePropertiesActivity" />
        </activity>
        <activity android:name=".activities.LandlordCreateRoomActivity"
            android:parentActivityName=".activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordManagePropertiesActivity" />

        </activity>
        <activity android:name=".activities.LandlordEditRoomActivity"
            android:parentActivityName=".activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LandlordManageRoomsActivity" />
        </activity>

    </application>

</manifest>