<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kappatid.jerome.niche">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/niche"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.kappatid.jerome.niche.activities.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kappatid.jerome.niche.activities.MainActivity">


        </activity>
        <activity android:name="com.kappatid.jerome.niche.activities.RegisterActivity" />
        <activity android:name="com.kappatid.jerome.niche.activities.TenantDashboardActivity">

        </activity>
        <activity
            android:name="com.kappatid.jerome.niche.activities.TenantPersonalInformationActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.TenantDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.TenantDashboardActivity" />
        </activity>
        <activity
            android:name="com.kappatid.jerome.niche.activities.TenantRoomsOfferedActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.TenantDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.TenantDashboardActivity" />
        </activity>

        <!-- Landlord Parent Activity -->
        <activity android:name="com.kappatid.jerome.niche.activities.LandlordDashboardActivity" />

        <!-- Landlord Child Activities -->
        <activity
            android:name="com.kappatid.jerome.niche.activities.LandlordPersonalInformationActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordDashboardActivity" />
        </activity>
        <activity
            android:name="com.kappatid.jerome.niche.activities.LandlordManagePropertyManagersActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordDashboardActivity" />
        </activity>
        <activity
            android:name="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordDashboardActivity" />
        </activity>

        <!-- PropertyManager Dashboard Parent Activity -->
        <activity android:name="com.kappatid.jerome.niche.activities.PropertyManagerDashboardActivity" />

        <!-- PropertyManager Personal Information Child Activity -->
        <activity
            android:name="com.kappatid.jerome.niche.activities.PropertyManagerPersonalInformationActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.PropertyManagerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.PropertyManagerDashboardActivity" />
        </activity>
        <activity
            android:name="com.kappatid.jerome.niche.activities.PropertyManagerManageRoomsActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.PropertyManagerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.PropertyManagerDashboardActivity" />
        </activity>
        <activity android:name="com.kappatid.jerome.niche.activities.LandlordCreatePropertyActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity" />
        </activity>

        <activity android:name="com.kappatid.jerome.niche.activities.LandlordManageRoomsActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity" />
        </activity>
        <activity android:name="com.kappatid.jerome.niche.activities.LandlordEditPropertyActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity" />
        </activity>
        <activity android:name="com.kappatid.jerome.niche.activities.LandlordCreateRoomActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordManagePropertiesActivity" />

        </activity>
        <activity android:name="com.kappatid.jerome.niche.activities.LandlordEditRoomActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.LandlordManageRoomsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kappatid.jerome.niche.activities.LandlordManageRoomsActivity" />
        </activity>

        <activity android:name="com.kappatid.jerome.niche.activities.TenantRoomsOfferedInformationActivity"
            android:parentActivityName="com.kappatid.jerome.niche.activities.TenantRoomsOfferedActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.kappatid.jerome.niche.activities.TenantRoomsOfferedActivity" />
        </activity>

    </application>

</manifest>